<h1>Довідник Авторів:</h1>
<div class="jumbotron">
  <div class="row">
    <div class="col-6 mx-auto">
      <label for="fio">ФІО:</label>
      <input id="fio" class="form-control" type="text" [(ngModel)]="selectedAuthor.naz" />
      <button class="btn btn-primary" (click)="addAuthor()">Створити</button>
      <button [disabled]="selectedAuthor.naz.length==0" class="btn btn-success" (click)="save()">Зберегти</button>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th>Код</th>
                <th>ФІО</th>
             </tr>
        </thead>
      <tbody>
        <tr (click)="select(author)" *ngFor="let author of authors" [ngClass]="author===selectedAuthor ? 'table-info': '' ">
          <td>
            {{author.id}}
          </td>
          <td>
            {{author.naz}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>