<h1>{{book.naz}}</h1>
<div class="row">
  <div class="col-12">
    <label>Автор:</label>
    <div>
      <span *ngFor="let author of book.authors">
        {{author.naz}}&nbsp;
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <label>Жанр:</label>
    <div>
      <span *ngFor="let genre of book.genres">
        {{genre.naz}}&nbsp;
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <label>Вартість:</label>
    {{book.cost}}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <label>Опис:</label>
    {{book.description}}
  </div>
</div>
<hr />
<h2>Бланк замовлення:</h2>
<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-10">
        <label>Адреса:</label>
        <input class="form-control" type="text" [(ngModel)]="zakaz.address" required>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <label>ФІО:</label>
        <input class="form-control" type="text" [(ngModel)]="zakaz.fio" required>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label>Кількість:</label>
        <input class="form-control" type="number" step="1" [(ngModel)]="zakaz.kol" required>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-12 mx-auto">
    <button class="btn btn-primary" (click)="doZakaz()">Замовити</button>
  </div>
</div>
<div class="row" *ngIf="status_zakaz.length>0">
  <div class="col-12">
    {{status_zakaz}}
  </div>
</div>