/* reset.css normalized.css */
@import url("reset.css");
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
	font: 13px Arial, Helvetica,sans-serif;
	/* 	20rem = look in internet
		20em 1em = font-size in body */
}

a {
	text-decoration: none;
}

h1 {
	color: #ffffff;
	font: 35px DejaVu Sans;	
	text-align: center;
	padding-bottom: 30px;
}

h2 {	
	font: 20px DejaVu Sans;	
	padding-bottom: 25px;
}

.global-wrap {
	margin: 0 auto;
	width: 960px;
}

.global-header .logo {
	margin-top: 27px;
	float: left;
}

.global-header {
	background: #232d3b;		
	
}

.global-menu {
	float: right;
	display: inline;
	padding: 15px 0;
}

.global-menu ul {
	display: inline-table;	
	table-layout:fixed;
}

.global-menu li {	
	display: table-cell;
	padding-right:50px;
}
.global-menu  a:hover{
	text-decoration:underline;
}

.global-menu li a {		
	font-size: 16px;
	color: #7f8388;
	padding-top: 16px;
}

.global-menu  a {		
	float: right;
}

.global-menu .nav-active {
	color: #f3f3f3;
}

.btn {
	padding: 20px 60px;
	border: 0;
	border-radius: 0;
	border-bottom: 3px solid rgba(0, 0, 0, .2);
	color: #ffffff;
	border-radius: 3px;
	font-size: 16px;
	background: #7accc8;
	
}

.btn:hover:not(.btn-social) {
	background: rgba(0, 0, 0, .2);	
}

.btn-green {
	padding: 15px 10px;
	background: #a3d39c;
	font-weight: bold;
	font-size: 13px;
	
}

.btn-yellow {	
	background: #ffaa16;	
}

.btn-pink {	
	background: #ec5b95;	
}

.btn-lightblue {	
	background: #00aeef;	
}

.btn-blue {	
	background: #0054a6;	
}

.btn-social {
	display: inline-block;
	margin-top: 3px;
	margin-left: 10px;
	padding: 0px;
	width: 55px;
	height: 55px;	
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-social:hover {
	display: inline-block;
	margin-top: 0px;
	padding-top: 3px;
	border-radius: 3px;	
}

.btn-social img{	
	margin: auto;
	margin-top: 13px;
	display: block;
}


.carusel {
	border-top: 10px solid #ee5f15;
	border-bottom: 30px solid rgb(255, 110, 44);
	background: #fe742c;	
	display: table;
	margin: auto;
	width: 100%;
	padding-top: 50px;
}
.carusel .arrow {
	vertical-align: middle;
	display: table-cell;
}

.carusel .arrow-btn {
	border: 0;
	background-color: transparent;
}

.carusel .arrow-btn:hover {
	background: rgba(0, 0, 0, .1);
	border-radius: 10px;
}

.carusel-content {	
	display: table-cell;
}

.carusel-content .carusel-img {	
	display: block;
	margin: 0 auto;
}


.selector button {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

.selectors {
	display: table;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
}
.custom-select ul {
	position: absolute;
	background: #fff;
	border: 1px solid blue;
	list-style:none;
	min-width:100%;
	display: none;
}

.custom-select ul li{
	padding: 5px 10px;
}

.custom-select {
	padding: 0 10px;
	display: table-cell;
}

.custom-select .current-item .item-icon{
	
    vertical-align: middle;
	
}

.custom-select .current-item span{
	padding-left: 10px;
	vertical-align: middle;
	color: #898989;
}

.custom-select .current-item {
	background: #fff;
	border-bottom: 2px solid rgba(255, 85, 0, 0.659);
	border-radius: 5px;
	min-width: 300px;
	max-width: 300px;
	padding: 17px 23px;
	max-height: 51px;
	position:relative;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.custom-select .current-item a {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 20px;
	background: #7accc8;
}

.custom-select ul li.active,
.custom-select ul li:hover {
	background: blue;
	color: #fff;
}

.content-wrap {
	display: table;
	margin: 0 auto;
	padding-top: 50px
}
.content-wrap p {
	padding-bottom: 35px;
}

/* 
 *можно было указать один раз для  .content-wrap p:first-of-type
 *Но сделал специально на будущее вдруг будет в несколько строк новости ити
*/
.content-wrap .content-left p:first-of-type {
	color: #ff742c;
}

.content-wrap .content-right p:first-of-type {
	color: #ff742c;
}

.content-wrap .content-left {
	display: table-cell;
	padding-right: 10px;
}
.content-wrap .content-right {
	display: table-cell;
	padding-left: 10px;
}

.footer-carusel {
	padding-top: 50px;
	padding-bottom: 25px;
	background: #5dbab5;
	margin: 0 auto;
	text-align: center;
	
}

.footer-carusel .footer-carusel-content img {
	display: inline-block;
}

.footer-carusel .footer-carusel-buttons {
	margin: 0 auto;	
	display: inline-block;
	 
}

.custom-radio-wrap {
	position:relative;
	display: inline;
	padding: 10px;
}

.custom-radio-wrap .custom-radio:hover {
	cursor: pointer;
}

.custom-radio-wrap .custom-radio {
	width:13px;
	height:13px;
	background: url("../pic/points_slider_bg.png") no-repeat center;
	display:inline-block;
	content:"";
}

.custom-radio-wrap input[type="radio"]:checked + .custom-radio {
	background: url("../pic/current_points_slider_bg.png") no-repeat center;
	display:inline-block;
	content:"";		
}

.custom-radio-wrap input[type="radio"] {
	opacity:0;
	position: absolute;
	left: -100500px;
}
.footer {
	border-top: 15px solid #0d131a;
	background: #151c27;
	padding-top: 50px;
	padding-bottom: 240px;
}
.footer .description {
	color: #4c5c74;	
	padding-top: 20px;
	display: block;
}

.social-btns {
	display: inline;
	float: right;
}

.footer-logo {
	display: inline;
	float: left;

}

.form {
	padding-top: 30px;	
}

.form .form-input {
	display: block;
	width: 100%;
	margin: 10px;
	background: #080c11;
	color: aliceblue;
	border: 0;
	border-radius: 3px;
	padding: 20px 35px;
	
}

.form .form-input::placeholder {
	color: #fff;	
}

.form textarea.form-input {
	min-height: 117px;
	padding: 20px;
}


.form .form-left {
	float: left;
	width: 60%;
	padding-right: 20px;	
}

.form .form-right {
	float: right;
	width: 40%;
}

.form .form-right .btn{
	float: right;	
}