<template>
  <div>
    <div class="calendar"  style="min-width: 100px;">
      <div class="row">    
        <div class="col">
          <div class="row">    
            <div class="col-auto">
              <button class="btn btn-outline-info" v-on:click="previusMonth()"><i class="fas fa-chevron-left" v-on:click="previusMonth()"></i></button>
            </div>
            <div class="col text-center">
              <v-select :clearable="false" v-model="month" :options="months"></v-select>
            </div>
            <div class="col-auto">
              <button class="btn btn-outline-info" v-on:click="nextMonth()"><i class="fas fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row">    
            <div class="col-auto">
              <button class="btn btn-outline-info" v-on:click="previusYear()"><i class="fas fa-chevron-left"></i></button>
            </div>
            <div class="col text-center">
              <h2>{{year}}</h2>
            </div>
            <div class="col-auto">
              <button class="btn btn-outline-info" v-on:click="nextYear()"><i class="fas fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="custom-control custom-checkbox">
            <input v-model="format" type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">24h format</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input v-model="firstday" type="checkbox" class="custom-control-input" id="mondayCheck">
            <label class="custom-control-label" for="mondayCheck">start monday</label>
          </div> 
        </div>
      </div> 
      <div class="row">
        <div class="col">
          <table class="table table-bordered table-sm" style="table-layout: fixed;">
            <thead>
              <tr>
                <th v-for="dayName of dayNames" class="text-center" :key="dayName">
                  {{dayName}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row of getDays">
                <td v-for="cel of row">
                  <day v-bind:date="cel" v-bind:edit="handleEdit" :format="timeFormat"/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <event-edit :format="timeFormat" :evt="selected" v-if="showModal" @close="closeEdit"/>
  </div>
</template>
<script>
import moment from "moment";
import day from "./Day";

import apievent from "../api/event";
const _eventApi = new apievent();

export default {
  name: "calendar",
  components: { day },
  props: {
    idroom: {
      type: Object,
      default() {
        return {};
      }
      }
  },
  data() {
    return {
      firstDayOfWeek: "",
      date: moment(),
      month: moment(this.date).format("MMMM"),
      year: moment(this.date).format("YYYY"),
      events: [],
      showModal: false,
      selected: {},
      format:this.$store.state.format,
      firstday: false
    };
  },
  computed: {
    dayNames: function() {
      let dayNames = moment.weekdaysShort();
      if (this.firstday) {
        dayNames.push(dayNames.shift());
      }
      return dayNames;
    },
    timeFormat: function() {
      return this.$store.getters.timeFormat;
    },
    getDays: function() {
      moment.locale('en', {
      week: {
          dow: this.firstday ? 1: 0
      }
      });
      moment.locale('en');
      let dat = moment(this.date.format('YYYY-MM-DD'),'YYYY-MM-DD').startOf("month").startOf("week");
      let result = [];
      for (let i = 1; i <= 6; i++) {
        let row = [];
        for (let j = 1; j <= 7; j++) {
          const data = {
            date: dat.format("YYYY-MM-DD"),
            isSame: this.isSame(dat)
          };
          if (moment().format("YYYY-MM-DD") == data.date) {
            data.current = true;
          }

          data.events = this.getEventsByRange(
            dat.startOf("day").unix(),
            dat.endOf("day").unix()
          );
          row.push(data);
          dat = dat.add(1, "days");
        }
        result.push(row);
      }
      return result;
    }
  },
  methods: {
    closeEdit: function() {
      this.showModal=false;
      this.getEvents();
    },
    getFormatedTime: function(timestamp){
      let m = moment.unix(timestamp);
      let time = '';
      return m.format(this.timeFormat);
    },
    handleEdit: function(event) {
      this.selected = event;
      this.showModal = true;
    },
    nextYear: function() {
      this.year = moment(this.date)
        .add(1, "years")
        .format("YYYY");
    },
    previusYear: function() {
      this.year = moment(this.date)
        .subtract(1, "years")
        .format("YYYY");
    },
    nextMonth: function() {
      this.month = moment(this.date)
        .add(1, "months")
        .format("MMMM");
    },
    previusMonth: function() {
      this.month = moment(this.date)
        .subtract(1, "months")
        .format("MMMM");
    },
    isSame: function(date) {
      if (moment(this.date).format('MMMM-YYYY') == moment(date).format('MMMM-YYYY')) {
        return true;
      }
      return false;
    },
    getEvents: function() {
      _eventApi
        .getByPeriod(
          moment
            .utc(this.date)
            .startOf("month")
            .unix(),
          moment
            .utc(this.date)
            .endOf("month")
            .unix(),
          this.idroom.id
        )
        .then(resp => {
          this.events = resp.data;
        });
    },
    getEventsByRange: function(from, to) {
      if (this.events && this.events.length > 0) {
        return this.events.filter(el => {
          if (
            el.starttime >= from &&
            el.starttime <= to &&
            el.idroom == this.idroom.id
          ) {
            return el;
          }
        });
      }
      return [];
    }
  },
  watch: {
    idroom: function(newVal) {
      this.getEvents();
    },
    month: function(newVal) {
      if (newVal != null) {
        this.date = moment(this.date).month(this.month);
      }
    },
    year: function(newVal) {
      if (newVal != null) {
        this.date = moment(this.date).year(this.year);
      }
    },
    date: function(newVal) {
      this.getEvents();
    },
    format: function(newVal) {
      this.$store.commit('updateFormat', newVal);
    }
  },
  created() {
    this.months = moment.months();
    this.getEvents();
  }
};
</script>
<style>
.calendar {
  padding: 10px 0;
}
.row {
  padding-top: 2px;
}
</style>

