<template>
    <modal v-if="showModal" saveLabel="Delete" @close="$emit('close')" @save="$emit('confirm')">
        <div slot="header">
        <h3>Confirmation</h3>
        </div>
        <div slot="body">
            <div class="row">
                <div class="col">
                    <span>You confirm deletion?</span>
                </div>
            </div>
        </div>
    </modal>
</template>
<script>
export default {
    props: {
        showModal: {
            type: Boolean,
            default:false
        }
    }
}
</script>


