<template>
  <div>
    <div v-bind:class="{ currentDay: date.current, 'day':true}">
      <div v-bind:class="{ active: date.isSame, notActive: !date.isSame, 'day-number':true }">{{getDay}}</div>
      <div v-for="evt of date.events" :key="evt.id">
        <router-link :to="'/event/'+evt.id">{{getFormatedDate(evt.starttime)}} - {{getFormatedDate(evt.endtime)}}</router-link>
        <!--<a href="#" @click="onEdit(evt)">{{getFormatedDate(evt.starttime)}} - {{getFormatedDate(evt.endtime)}}</a>-->
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";

export default {
  name: "day",
  props: {
    date: {
      type: Object
    },
    edit: {
      type: Function
    },
    format: {
      type: String,
      default: 'HH:mm'
    }
  },
  data() {
    return {};
  },
  methods: {
    onEdit: function(evt) {
      this.edit(evt);
    },
    getFormatedDate: function(timestamp) {
      let m = moment.unix(timestamp);
      return m.format(this.format);
    }
  },
  computed: {
    getDay: function() {
      return moment(this.date.date).format("D");
    }
  }
};
</script>
<style>
.active.day-number {
  color: black;
}
.notActive.day-number {
  color: grey;
}
.day {
  min-height: 50px;
  text-align: center;
  font-size: 12px;
}
.day.currentDay .day-number {
  font-size: 16px;
  color: blue;
}

.day-number {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}
</style>
