<template>
    <div v-if="room.id">
        <h2>Boardroom  Booker {{room.nam}}</h2>
        <p class="block-title">1. Booked for:</p>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <v-select :clearable="false" v-model="user" :options="users" label="fullname"></v-select>
                </div>
            </div>
        <p class="block-title">2. I would like to book this meeting:</p>
        <div class="row">
            <div class="col-md-4  col-sm-12">
                <v-select :clearable="false" v-model="day" :options="getDays"></v-select>
            </div>
            <div class="col-md-4  col-sm-12">
                <v-select :clearable="false" v-model="month" :options="getMonths"></v-select>
            </div>
            <div class="col-md-4  col-sm-12">
                <v-select :clearable="false" v-model="year" :options="getYears"></v-select>
            </div>
        </div>
        <p class="block-title">3. Specify what the time and end of the meeting:</p>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <label>From:</label>
                <time-picker :format="timeFormat" :time="startTime" @timechange="starttimeChange"></time-picker>
            </div>
            <div class="col-md-3 col-sm-12">
                <label>To:</label>
                <time-picker :format="timeFormat" :time="endTime" @timechange="endtimeChange"></time-picker>
            </div>
        </div>
        <p class="block-title">4. Enter the specifics for the meeting:</p>
        <textarea class="form-control" v-model="description" rows="2"></textarea>
        <p class="block-title">5. Is this going to be a recurring event?</p>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="no" value="0" v-model.number="recuring">
            <label class="custom-control-label" for="no">no</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="yes" value="1" v-model.number="recuring">
            <label class="custom-control-label" for="yes">yes</label>
        </div>
        <div v-if="recuring==1">
            <p class="block-title">6. If it is recurring, specify weekly, bi-weekly, or monthly.</p>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="weekly" value="0" v-model.number="recuringType">
                <label class="custom-control-label" for="weekly">weekly</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="bi-weekly" value="1" v-model.number="recuringType">
                <label class="custom-control-label" for="bi-weekly">bi-weekly</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="monthly" value="2" v-model.number="recuringType">
                <label class="custom-control-label" for="monthly">monthly</label>
            </div>
            <p>
                If weekly or bi-weekly, specify the number of weeks for it to keep recurring.
                If monthly, specify the number of months. (If you choose "bi-weekly" 
                and put in an odd number of weeks, the computer will round down.)
            </p>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="custom-control">
                        <label class="control-label" for="duration">Duration:</label>
                        <input type="number" max="4" min="1" class="form-control" id="duration" v-model.number="duration">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" @click="save">Submit</button>
            </div>
        </div>
    </div>
</template>
<script>
import moment from "moment";

import api from "../api/room";
const _roomApi = new api();
import apiuser from "../api/users";
const _userApi = new apiuser();
import apievent from "../api/event";
const _eventApi = new apievent();

export default {
  props: ["idroom"],
  data() {
    return {
      month: moment().format("MMMM"),
      year: moment().year(),
      day: moment().format("DD"),
      startTime: undefined,
      endTime: undefined,
      description: "",
      room: {},
      users: [],
      user: undefined,
      recuring: 0,
      recuringType: 0,
      duration: 1
    };
  },
  created: function() {
    this.getRoom();
    this.getUsers();
  },
  methods: {
    starttimeChange: function(time) {
        this.startTime = time;
    },
    endtimeChange: function(time) {
        this.endTime = time;
    },
    save: function() {
      const format = `DD MMMM YYYY ${this.timeFormat}`;
      const datefrom = moment(
        `${this.day} ${this.month} ${this.year} ${this.startTime}`, format
      ).unix();
      const dateto = moment(
        `${this.day} ${this.month} ${this.year} ${this.endTime}`, format
      ).unix();
      const event = {
        idroom: this.room.id,
        iduserfor: this.user.id,
        starttime: datefrom,
        endtime: dateto,
        description: this.description,
        duration: this.duration,
        recuringType: this.recuringType,
        recuring: this.recuring
      };
      _eventApi.save(event).then(resp => {
        const message = 'The event '
                        +this.startTime
                        +' '
                        +this.endTime
                        +' has been added.';
        this.$store.commit('updateMessage', {message, messageClass:'alert-primary'});
        this.$router.push('/');
      });
    },
    getRoom: function() {
      _roomApi.getById(this.idroom).then(resp => {
        this.room = resp.data;
      });
    },
    getUsers: function() {
      _userApi.getAll().then(resp => {
        this.users = resp.data;
        this.user = this.$store.state.user;
      });
    }
  },
  computed: {
    timeFormat: function() {
      return this.$store.getters.timeFormat;
    },
    getDays: function() {
      if (this.year && this.month) {
        let days = moment(
          `${this.year}-${this.month}`,
          "YYYY-MMMM"
        ).daysInMonth();
        return Array(days)
          .fill()
          .map((e, i) => i + 1);
      }
      this.day = undefined;
      return [];
    },
    getMonths: function() {
      return moment.months();
    },
    getYears: function() {
      let year = moment().year();
      return Array(10)
        .fill()
        .map((e, i) => i + year);
    },
  }
};
</script>
<style>
.block-title {
  padding-top: 10px;
  font-weight: bold;
}
</style>

