<template>
  <div v-if="evt.id">
    <h3>Edit event</h3>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Notes:</label>
          <textarea class="form-control" v-model="evt.description" rows="2"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <label>From:</label>
            <time-picker :format="format" :time="getFormatedTime(evt.starttime)" @timechange="starttimeChange"></time-picker>
        </div>
        <div class="col-md-3 col-sm-12">
            <label>To:</label>
            <time-picker :format="format" :time="getFormatedTime(evt.endtime)" @timechange="endtimeChange"></time-picker>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
          <label>For:</label>
          <v-select :clearable="false" v-model="user" :options="users" label="fullname"></v-select>
      </div>
    </div>
    <div class="row" v-if="isRecuring && isEditable">
      <div class="col-md-6 col-sm-12">
        <div class="custom-control custom-checkbox">
          <input v-model="evt.forall" type="checkbox" class="custom-control-input" id="defaultUnchecked">
          <label class="custom-control-label" for="defaultUnchecked">Apply for all</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        Submited by: {{getCreated}}
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button v-if="isEditable" class="btn btn-primary" @click="save">Save</button>
          <button v-if="isEditable" class="btn btn-danger" @click="remove">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import moment from "moment";
import apiuser from "../api/users";
const _userApi = new apiuser();

import apievent from "../api/event";
const _eventApi = new apievent();

export default {
  data() {
    return {
      user: {
        fullname: ""
      },
      users: [],
      evt:{}
    };
  },
  props: {
    id:{
      type: String
    }
  },
  created: function() {
    _eventApi.getById(this.id).then((resp)=> {
      this.evt = resp.data;
      this.getUsers();
    });
  },
  computed: {
    getCreated: function() {
      return moment.unix(this.evt.created).format(`DD-MM-YYYY ${this.format}`);
    },
    isRecuring: function() {
      if(this.evt.idrec && this.evt.idrec!=null) {
        return true;
      }
      return false;
    },
    isEditable: function() {
      if(this.evt.iduserfor != this.$store.getters.userId && !this.$store.getters.isAdmin)
      {
        return false;
      }
      return this.evt.starttime>moment().unix();
    },
    format: function(){
      return this.$store.getters.timeFormat;
    }
  },
  methods: {
    remove: function() {
      let promise;
      if(this.evt.forall && this.evt.forall==true)
      {
        promise = _eventApi.removeRecuring(this.evt.id);
      }
      else
      {
        promise = _eventApi.remove(this.evt.id);
      }
      promise.then(()=> {
        const message = 'The event '
                        +this.getFormatedTime(this.evt.starttime)
                        +' '
                        +this.getFormatedTime(this.evt.endtime)
                        +' has been removed.';
        this.$store.commit('updateMessage', {message, messageClass:'alert-primary'});
        this.$router.push('/');
      });
    },
    save: function() {
      _eventApi.save(this.evt).then((resp)=> {
        this.$router.push('/');
      });
    },
    getFormatedTime: function(timestamp){
      let m = moment.unix(timestamp);
      return m.format(this.format);
    },
    starttimeChange: function(time) {
      this.evt.starttime = this.timeToTimestamp(time,this.evt.starttime);
    },
    endtimeChange: function(time) {
      this.evt.endtime = this.timeToTimestamp(time,this.evt.endtime);
    },
    timeToTimestamp: function(time, timestamp){
      let m = moment.unix(timestamp);
      let date = m.format("DD MMMM YYYY");
      return moment(`${date} ${time}`,`DD MMMM YYYY ${this.format}`).unix();
    },
    getUsers: function() {
      _userApi.getAll().then(resp => {
        this.users = resp.data;
        this.user = this.users.filter((usr)=> {
            if(usr.id==this.evt.iduserfor)
            {
              return usr;
            }
          })[0];
      });
    }
  }
};
</script>

