<template>
  <div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-auto my-auto">
            <label>Select room:</label>
          </div>
          <div class="col-md-6 col-sm-12 text-center">
            <v-select :clearable="false" v-model="selectedRoom" :options="rooms" :label="'nam'"></v-select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <calendar v-if="selectedRoom" :idroom="selectedRoom"/>
          </div>
        </div>
      </div>
      <div class="col-auto my-auto text-center" v-if="selectedRoom">
        <router-link class="btn btn-outline-primary" :to="'/'+selectedRoom.id+'/book'">Bookit</router-link>
        <div>
          <router-link v-if="isAdmin" class="btn btn-outline-success" to="/admin/rooms">Rooms</router-link>
        </div>
        <div>
          <router-link v-if="isAdmin" class="btn btn-outline-success" to="/admin/users">Users</router-link>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import api from "../api/room";
const _roomApi = new api();

export default {
  name: "home",
  data() {
    return {
      rooms: [],
      selectedRoom: undefined
    };
  },
  created: function() {
    this.getRooms();
  },
  computed: {
    isAdmin: function() {
      return this.$store.getters.isAdmin;
    },
  },
  methods: {
    getRooms: function() {
      _roomApi.getAll().then(resp => {
        this.rooms = resp.data;
        if(this.rooms.length>0)
        {
          this.selectedRoom = this.rooms[0];
        }
      });
    }
  }
};
</script>