<template>
  <div class="row justify-content-center">
    <div class="col-6">
      <form v-on:submit.prevent="login">
        <div class="form-group">
          <label for="InputUsername">User name:</label>
          <input type="text" class="form-control" id="InputUsername" placeholder="Enter user name" v-model="cred.username">
        </div>
        <div class="form-group">
          <label for="InputPassword1">Password:</label>
          <input type="password" class="form-control" id="InputPassword1" placeholder="Password" v-model="cred.password">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-sign-in-alt"></i>
          Login
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      cred: {
        username:'',
        password:''
      }
    }
  },
  created: function() {
    this.$store.commit('updateToken', '');
    this.$store.commit('updateUser', '');
    localStorage.removeItem('user-token');
    localStorage.removeItem('user');
  },
  methods: {
    login: function() {
      this.$store.dispatch('auth', this.cred)
        .then((resp) =>{
          this.$router.push('/');
        });      
    }
    
  },
}
</script>