<template>
  <div  v-if="isMessage">
    <div :class="classMessage" role="alert">
        <div class="col">
          {{message}}
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-sm btn-danger" v-on:click="close"><i class="fas fa-times" aria-hidden="true"></i></button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    close: function() {
      this.$store.commit("updateMessage", {message:""});
    }
  },
  computed: {
    message: function() {
      return this.$store.state.message;
    },
    isMessage: function() {
      return this.$store.state.message !== "";
    },
    classMessage: function() {
      return 'row alert '+this.$store.state.messageClass;
    }
  }
};
</script>