<template>
        <transition name="modal">
         <div class="modal-mask">
           <div class="modal-wrapper">
              <div class="modal-container">

                <div class="modal-header">
                  <slot name="header">
                 </slot>
                </div>

                <div class="modal-body">
                  <slot name="body">
                  </slot>
                </div>

               <div class="modal-footer">
                  <slot name="footer">
                    <button class="btn btn-primary modal-default-button" @click="$emit('save'); $emit('close')">
                      {{saveLabel}}
                    </button>
                    <button class="btn btn-dark modal-default-button" @click="$emit('close')">
                      Close
                    </button>
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
</template>

<script>
  export default {
    props: {
      saveLabel: {
        type: String,
        default: 'Save'
      }
    },
    name:'modal'
  }
</script>
<style>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 60%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    max-height: 700px;
    overflow: auto;
    
  }

  .modal-body {
    margin: 2px 0;
  }

  .modal-default-button {
    float: right;
  }
  
  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>

