<template>
    <v-select :clearable="false" v-model="timeLocal" :options="getTime"></v-select>
</template>
<script>

import moment from "moment";

export default {
  props: {
    time: {
      type: String
    },
    format: {
      type: String,
      default: 'HH:mm'
    }
  },
  computed: {
    timeLocal: {
        get: function() {
            return this.time
        },
        set: function(value) {
            //this.$emit('input', value);
            this.$emit('timechange', value)
        }
    },
    getTime: function() {
      var m = moment();
      m.set({ hour: 8, minute: 0, second: 0, millisecond: 0 });
      return Array(25)
        .fill()
        .map((e, i) => {
          let time;
          time = m.format(this.format);
          m.add(30, "minutes");
          return time;
        });
    }
  }
};
</script>

