<template>
  <div>
    <div class="row">
        <div class="col">
          <button class="btn btn-primary" @click="edit({})"><i class="fas fa-plus"></i> Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <table class="table ">
            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items" :key="item.id">
                <td>{{item.nam}}</td>
                <td>
                  <button class="btn btn-sm btn-primary"  @click="edit(item)"><i class="fas fa-pen"></i></button>
                  <button class="btn btn-sm btn-primary"  @click="remove(item)"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <modal v-if="showModal" @close="showModal = false" @save="save">
      <div slot="header">
        <h3 v-if="selected.id">Edit room</h3>
        <h3 v-else>Create room</h3>
      </div>
      <div slot="body">
        <div class="row">
          <div class="col">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" required v-model="selected.nam">
          </div>
        </div>
      </div>
      </div>
    </modal>
    <confirm-modal :showModal="showConfirmModal" @confirm="confirmDelete" @close="showConfirmModal=false;"/>
  </div>
</template>

<script>

import api from '../../api/room'
const _api = new api();

export default {
  name: 'rooms',
  data () {
    return {
      showModal: false,
      showConfirmModal: false,
      items: [],
      selected:{}
    }
  },
  created: function(){
    this.getRooms();
  },
  methods: {
    confirmDelete: function() {
      _api.remove(this.selected.id).then(()=> {
        this.getRooms();
      });
    },
    remove: function(item) {
      this.selected = item;
      this.showConfirmModal = true;
    },
    save: function() {
      _api.save(this.selected).then(()=> {
        this.getRooms();
      });
    },
    getRooms: function() {
      _api.getAll().then((resp) =>{
          this.items=resp.data;
        });      
    },
    edit: function(item){
      this.selected = item;
      this.showModal = true;
    }
  },
  computed: {
  },
}
</script>