<template>
  <div>
    <div class="row">
        <div class="col">
          <button class="btn btn-primary" @click="edit({})"><i class="fas fa-plus"></i> Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <table class="table ">
            <thead>
              <tr>
                <th>Full name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in items" :key="item.id">
                <td>
                  <a :href="'mailto:'+item.email">{{item.fullname}}</a>                  
                </td>
                <td>
                  <button class="btn btn-sm btn-primary"  @click="edit(item)"><i class="fas fa-pen"></i></button>
                  <button class="btn btn-sm btn-primary"  @click="remove(item)"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <modal v-if="showModal" @close="showModal = false" @save="save">
      <div slot="header">
        <h3 v-if="selected.id">Edit user</h3>
        <h3 v-else>Create user</h3>
      </div>
      <div slot="body">
        <div class="row">
          <div class="col">
          <div class="form-group">
            <label>User name:</label>
            <input type="text" class="form-control" required v-model="selected.username">
          </div>
          <div class="form-group">
            <label>Full name:</label>
            <input type="text" class="form-control" required v-model="selected.fullname">
          </div>
          <div class="form-group">
            <label>E-mail:</label>
            <input type="email" class="form-control" required v-model="selected.email">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" required v-model="selected.password">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input v-model="selected.admin" type="checkbox" class="custom-control-input" id="isadmin">
              <label class="custom-control-label" for="isadmin">Admin</label>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input v-model="selected.active" type="checkbox" class="custom-control-input" id="isactive">
              <label class="custom-control-label" for="isactive">Active</label>
            </div>
          </div>
        </div>
      </div>
      </div>
    </modal>
    <confirm-modal :showModal="showConfirmModal" @confirm="confirmDelete" @close="showConfirmModal=false;"/>
  </div>
</template>

<script>

import api from '../../api/users'
const _api = new api();

export default {
  name: 'users',
  data () {
    return {
      showModal: false,
      showConfirmModal: false,
      items: [],
      selected:{}
    }
  },
  created: function(){
    this.getUsers();
  },
  methods: {
    remove: function(item) {
      this.selected = item;
      this.showConfirmModal = true;
    },
    confirmDelete: function() {
      _api.remove(this.selected.id).then(()=> {
        this.getUsers();
      });
    },
    save: function() {
      _api.save(this.selected).then(()=> {
        this.getUsers();
      });
    },
    getUsers: function() {
      _api.getFull()
        .then((resp) =>{
          this.items=resp.data;
        });      
    },
    edit: function(item){
      this.selected = item;
      if(this.selected.active=='1')
      {
        this.selected.active=true;
      }
      else
      {
        if(this.selected.id){
          this.selected.active=false;
        }
        else
        {
          this.selected.active=true;
        }
        
      }
      if(this.selected.admin=='1')
      {
        this.selected.admin=true;
      }
      else
      {
        this.selected.admin=false;
      }
      this.showModal = true;
    }
  },
  computed: {
  },
}
</script>