<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <h1>Вхід для адміністратора:</h1>
    <div class="row">
      <div class="col-2">
        <label>Логін:</label>
      </div>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="usr.name">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
          <label>Пароль:</label>
      </div>
      <div class="col-10">
        <input class="form-control" type="password" [(ngModel)]="usr.password">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 text-center">
          <button class="btn btn-primary" (click)="doLogin()">Вхід</button>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>