<template>
  <div class="row">
    <div class="col">
      <ul class="list-group" v-for="prod of products">
        <li class="list-group-item">
          <product v-bind:product="prod"></product>
        </li>
      </ul>
    </div>
  </div>
</template>
<script src="./product-list.js">
</script>
