.row {
	padding-bottom:18px;	
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: rgb(232, 96, 60);
}

a.nav-link {
	color: rgb(200, 191, 231);	
	text-transform: uppercase;
	font-weight: bold;
}

.logo {
	color: rgb(232, 96, 60);
	font-weight: bold;
	font-size: 35px;
}

.logo span {
	color: rgba(232, 96, 60, .5);
}

h2 {
	color: rgb(232, 102, 60);
	text-transform: uppercase;
	font-size: 15px;
}

h3 {
	color: #fff;
	text-transform: uppercase;
}

h4 {
	color: rgb(200, 191, 231);	
	text-transform: uppercase;	
	font-size: 15px;
}

.date {
	color: rgb(232, 102, 60);	
}

footer {
	background: rgb(243, 178, 157);
}

footer .footer-content {
	padding-top: 40px;	
	background: rgb(232, 102, 60);
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
}

footer .row {
	padding-bottom: 0;		
}

.btn-primary {
	background: rgb(232, 102, 60); 
	border: 0;
	border-radius: 0;
}

.btn-primary:hover {
	background: rgba(0, 0, 0, .5); 
	border: 0;
	border-radius: 0;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	background: rgba(0, 0, 0, .6); 
	border: 0;
	border-radius: 0;
}

.img-sprite1 {
	background: url("../img/sprite-1.png") no-repeat 0 0;
	width: 50px;
	height: 49px;	
	display: inline-block;
}

.img-sprite1-1 {
	background-position: 0 0;	
}

.img-sprite1-2 {
	background-position: -50px 0;
}

.img-sprite1-3 {
	background-position: -100px 0;
}

.h-line {
	background: url("../img/title-bg.png");
	height: 19px;	
}

.img-sprite-social {
	background: url("../img/sprite-2.png") no-repeat 0 0;
	width: 31px;
	height: 31px;
	display: inline-block;	
}

.img-sprite-social-1 {
	background-position: 0 0;
}

.img-sprite-social-2 {
	background-position: -31px 0;	
}

.img-sprite-social-3 {
	background-position: -62px 0;	
}

.img-sprite-social-4 {
	background-position: -93px 0;
}

.img-sprite-social-5 {
	background-position: -125px 0;
}

.social {
	list-style-type: none;
	margin: 0;
    padding: 0;	
}

.social li {
	display: inline;
}
.social li a{
	text-decoration: none;
}

.twit-widjet {
	list-style-type: none;
	margin: 0;
    padding: 0;	
}

.twit {
	padding-bottom: 10px;
}

.twit-link {
	color: rgb(243, 178, 157);
}

.twit-link:hover {
	color: rgb(243, 178, 157);
}

.twit-date {
	display:block;
	padding-top: 5px;
}


