<template>
  <div class="row">
    <div class="col">      
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 50%; min-width: 100px;">Product</th>
            <th>Price</th>
            <th style="width: 100px; min-width: 100px;">Count</th>
            <th>Cost</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="prod in items">
            <td>{{prod.name}}</td>
            <td class="text-info">{{prod.price}}$</td>
            <td>
              <input class="form-control" type="number" step="1" min="1" max="99" v-model="prod.count" @change="update(prod)">
            </td>
            <td  class="text-success">{{prod.count * prod.price}}$</td>
            <td>
              <i class="fas fa-trash text-danger" @click="remove(prod)"></i>
            </td>
          </tr>
        </tbody>
        <tfoot v-if="!isCardEmpty">
          <tr class="table-primary">
            <th colspan="3" class="text-right">Total:</th>
            <td  class="text-success">{{total}}$</td>
            <td>
              <i class="fas fa-trash text-danger" @click="removeAll()"></i>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>  
</template>
<script src="./cart.js">
</script>
