<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Car Magazine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']"><i class="fa fa-car" aria-hidden="true"></i> Cars</a>
      </li>
    </ul>
    <div *ngIf="!isAuth()" class="form-inline my-2 my-lg-0">
      <a [routerLink]="['/authorize']" class="btn btn-outline-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
      <a [routerLink]="['/register']" class="btn btn-outline-success"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>  
    </div>
    <div *ngIf="isAuth()" class="form-inline my-2 my-lg-0">
      <a [routerLink]="['/orders']" class="btn btn-outline-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i> My Orders</a>
      <button class="btn btn-outline-success" (click)="Logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>  
    </div>
  </div>
</nav>