<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="chat">
        <div>
            {{ memory }}
        </div>
        <ul>
            <li v-for="message in messages">{{ message }}</li>
        </ul>
        <div>{{ online }}</div>
        <input type="text" v-model="newMessage">
        <button @click="send">Send</button>
        <button @click="disconnect">Disconnect</button>
        <button @click="connect">Connect</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        Vue.filter('disabled', function(val) { return val ? 'disabled': ''});
        var chatApp = new Vue({
            el: '#chat',
            data() {
                return {
                    messages: [],
                    newMessage: '',
                    online: false,
                    memory: {}
                }
            },
            created() {
                this.connect();
            },
            destroyed() {
                this.ws.close();
            },
            methods: {
                send() {
                    this.ws.send(this.newMessage);
                    this.newMessage = '';
                },
                messageHandler(message) {
                    try {
                        console.log(message.data)
                        let data = JSON.parse(message.data);
                        switch(data.type) {
                            case 'messages':
                                this.$set(this, 'messages', data.messages);
                                break;
                            case 'message':
                                this.messages.push(data.message);
                                break;
                            case 'memoryInfo':
                                this.$set(this, 'memory', data.data)
                        }
                    } catch (e) {console.error(e)}
                },
                disconnect() {
                    this.ws.close();
                },
                connect() {
                    if (this.online) return false;
                    this.ws = new WebSocket('ws://localhost:5555');
                    this.ws.addEventListener('open', () => { this.online = true });
                    this.ws.addEventListener('close', () => { this.online = false });
                    this.ws.addEventListener('error', (err) => { console.error(err) });
                    this.ws.addEventListener('message', this.messageHandler.bind(this));
                }
            }
            
        })
    </script>
</body>
</html>