<form>
  <div class="form-group">
    <label for="login">Login:</label>
    <input type="text" class="form-control" required id="login" placeholder="Enter login" [(ngModel)]="info.login"  [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="pass">Password:</label>
    <input type="password" class="form-control" required id="pass" placeholder="Enter password" [(ngModel)]="info.password"  [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="email">Mail:</label>
    <input type="email" class="form-control" required id="email" placeholder="Enter email" [(ngModel)]="info.mail"  [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="firstname">First Name:</label>
    <input type="text" class="form-control" required id="firstname" placeholder="Enter firstname" [(ngModel)]="info.firstname"  [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" class="form-control" required id="lastname" placeholder="Enter lastname" [(ngModel)]="info.lastname"  [ngModelOptions]="{standalone: true}">
  </div>
  <button class="btn btn-primary" (click)="submit()">Register</button>
</form>
