<template>
  <div id="app">
    <div class="header">
      <div class="brand">
        <router-link to="/"><i class="far fa-bookmark"></i>Boardroom Booker</router-link>
      </div>
      <div v-if="isAuth" style="float:right">
        <router-link to="/login"><i class="fas fa-sign-out-alt"></i>Logout</router-link>
      </div>
    </div>
    <div class="container">
      <app-messages/>
      <router-view/>
    </div>
  </div>
</template>
<script>
export default {
  name: 'App',
  computed: {
    isAuth: function() {
      return this.$store.getters.isAuthenticated;
    }
  }
}
</script>
<style>
.v-select .dropdown-toggle::after {
    display: none;
}
.v-select .dropdown-toggle {
    height: 38px;
}
.header {
  margin-bottom: 30px;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  min-height: 20px;
  width: 100%;
}
.header div {
  display: inline-block;
}
.header .brand {
  padding: 0 20px;
  font-size: 30px;
}
</style>
