<h1>Довідник Жанрів:</h1>
<div class="jumbotron">
  <div class="row">
    <div class="col-6 mx-auto">
      <label for="naz">Назва:</label>
      <input id="naz" class="form-control" type="text" [(ngModel)]="selectedGenre.naz" />
      <button class="btn btn-primary" (click)="add()">Створити</button>
      <button [disabled]="selectedGenre.naz.length==0" class="btn btn-success" (click)="save()">Зберегти</button>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-sm table-bordered">
      <thead>
          <tr>
              <th>Код</th>
              <th>Назва</th>
           </tr>
      </thead>
      <tbody>
        <tr (click)="select(genre)" *ngFor="let genre of genres" [ngClass]="genre===selectedGenre ? 'table-info': '' ">
          <td>
            {{genre.id}}
          </td>
          <td>
            {{genre.naz}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>