html {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    outline: 0px solid red;
    width: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

ul {
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
}

h1 {
    color: #444;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #4EA828;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.btn:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

textarea {
    display: block;
    width: 100%;
    height: 200px;
    font-size: 15px;
    color: #333;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: left;
    resize: none;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    color: #333;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* ============================== HEADER ============================== */
.header {
    border-bottom: 1px solid #C9D3D8;
    margin-bottom: 20px;
}
    
    .header .container {
        padding: 10px 0;
    }

        .header_logo {
            float: left;
        }
            
            .header_logo img {
                display: block;
                height: 80px;
            }
            
        .header_contact {
            float: right;
            position: relative;
            padding-top: 5px;
        }
            
            .header_contact div {
                font-size: 18px;
                font-weight: 700;
                color: #282828;
                margin-bottom: 10px;
            }
    
            .header_contact::before {
                content: "";
                position: absolute;
                top: 5px;
                left: -45px;
                width: 46px;
                height: 55px;
                background: url('../img/phone.png') no-repeat center;
            }
            
/* ============================== PAGE HOME ============================== */            
.main {
    font-size: 0;
    background-color: #fff;
    flex-grow: 1;
}

    .page {
        display: inline-block;
        vertical-align: top;
        width: 970px;
    }

        .article_wrap {
            padding: 0 15px;
            box-sizing: border-box;
            border-right: 1px solid #C9D3D8;
        }
        
            .article_block {
                border: 1px solid #c6c5c5;
                margin-bottom: 20px;
                background: #f6f6f6;
                border-radius: 3px;
                color: #444;
                padding: 5px 15px;
                box-sizing: border-box;
                text-align: justify;
            }
            
                .article_title {
                    font-size: 18px;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
                
                .article_author {
                    font-size: 16px;
                    margin-bottom: 10px;
                    color: blue;
                }
                
                .article_date {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                
                .article_text {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                
                .btn_read {
                    float: left;
                    padding: 5px;
                }
                
                .btn_edit {
                    float: right;
                    padding: 5px 15px;
                    margin-left: 10px;
                    width: auto;
                }
                
                .btn_del {
                    float: right;
                    padding: 5px;
                    background-color: #EB2F2F;
                }

    .aside {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        font-size: 14px;
        padding: 50px 10px 0 10px;
        box-sizing: border-box;
    }
    
        .auth {
            text-align: center;
        }
        
            .auth_name {
                margin-bottom: 20px;
                font-weight: 700;
            }
            
            .btn_add {
                
            }
            
            .btn_logout {
                background-color: #EB2F2F;
            }
                        
            .auth_form {
                
            }
            
                .auth_form input {
                    height: 35px;
                    font-size: 13px;
                    padding: 0 10px;
                    letter-spacing: 1px;
                }
                
            .btn_reg {
                
            }

/* ============================== PAGE REGISTRATION ============================== */
.reg_form {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

    .reg_form input {
        
    }
    
    .reg_form button {
        display: inline-block;
        width: auto;
    }

/* ============================== PAGE ADD ARTICLE ============================== */
.add_art_form {
    max-width: 900px;
    margin: 0 auto;
}

    .add_art_form textarea[name="text"] {
        height: 400px;
    }
    
    .add_art_form input[type="text"] {
        text-align: left;
    }
    
    .add_art_form label {
        display: block;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .add_art_form input[type="checkbox"] {
        display: inline-block;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        vertical-align: top;
    }
    
    .add_art_form .btn_add {
        width: auto;
    }
           
/* ============================== FOOTER ============================== */
.footer {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 5px solid #eb2f2f;
    background: #fff;
}
        
    .footer_logo {
        float: left;
    }
    
        .footer_logo img {
            display: block;
            height: 50px;
        }

/* ============================== OTHER ============================== */
.error,
.success {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 16px;
}

.error {
    border: 1px solid #765858;
    background: #ffeded;
    color: #7f5354;
}

.success {
    border: 1px solid #adc092;
    background: #f0faf1;
    color: #58715e;
}










