<template>
  <div class="row">
    <div class="col">
      {{product.name}}
    </div>
    <div class="col-auto">
      {{product.price}}$
    </div>   
    <div class="col-auto">
      <i class="fas fa-shopping-cart text-success" @click="buy()"></i>
    </div>   
  </div>
</template>
<script src="./product.js">
</script>
