*{
	margin:0;
	padding:0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
	background: url("../img/bg.gif");
	font-family: Arial, Helvetica,sans-serif;
	font-size:13px;
}

a {
	text-decoration: none;
}

#global-wrap {
	margin: 0 auto;
	padding: 0 8px;
	width:764px;
	background: #fff url("../img/header.jpg") no-repeat center top;	
}

.global-header {
	padding-top: 117px;
	padding-left: 40px;
	height:239px;
}
.global-header a, 
.global-header p {
	color: #fff;	
}

.global-header a {
	font-size: 20px;
	display: inline-block;
	margin-bottom: 10px;	
}

.global-menu {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c612+0,00c612+48,00b100+51,00b000+100 */
	background: #00c612; /* Old browsers */
	background: -moz-linear-gradient(top, #00c612 0%, #00c612 48%, #00b100 51%, #00b000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00c612 0%,#00c612 48%,#00b100 51%,#00b000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00c612 0%,#00c612 48%,#00b100 51%,#00b000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c612', endColorstr='#00b000',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 20px;		
}

.global-menu ul {
	display: table;
	width:100%;
	table-layout:fixed;
}

.global-menu li {
	text-align: center;
	display: table-cell;
	padding: 10px;
}
.global-menu li a:hover{
	text-decoration:underline;
}

.global-menu a {	
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}
.content-left {
	float:left;
	width:450px;
	padding-right:22px;
	padding-left:30px;
	
}

.content-right {
	float:right;
	width:241px;
	padding-right:21px;
	padding-top:15px;
}

.content {
	
}

.one-news-box {
	padding-top:30px;
	
}

.one-news-box h1,
.one-news-box h2 {
	font-weight: bold;
	color: #00b200;
}

.one-news-box .footer-one-news-box ul {
	display:inline-block;	
}
.one-news-box .footer-one-news-box ul li:after{
	content:"|";
	display:inline;
	padding: 0 5px;
	
}

.one-news-box .footer-one-news-box span:first-child{	
	display:block;
	
}


.one-news-box .footer-one-news-box ul li:last-child:after{
	content:"";
	display:none;
	
}

.one-news-box .footer-one-news-box ul li{
	display:inline-block;		
}

.right-menu .right-menu-header {
	background: url("../img/bg.gif");
	padding-left: 20px;
	
}

.right-menu .right-menu-header h3 {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding-top:14px;
	padding-bottom:10px;
}
.right-menu ul {
	padding: 20px 10px;
	list-style-image: url("../img/marker.png");
	list-style-position: inside;
}

.right-menu li a {
	color: #00b200;
}

.right-menu li a:hover{
	text-decoration:underline;
}

.right-menu li {
	padding-bottom: 10px;
}

.right-menu .company-news-list li:nth-child(odd) {
	list-style: none; 
	padding-bottom: 2px;
	
}

.right-menu .company-news-list h4 {
	font-size: 14px;
	font-weight: bold;
}

.global-footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+3,36a90d+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #ffffff 3%, #36a90d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%,#ffffff 3%,#36a90d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%,#ffffff 3%,#36a90d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#36a90d',GradientType=0 ); /* IE6-9 */

	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin: 0 -8px;
}
 
/*
	list-style
*/

/*      TASK3  */

.modal-window {
	position: fixed;
	background: rgba(0,0,0, .5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-body {
	position: absolute;
	background:#fff;
	width: 300px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -200px;
}

.custom-select ul {
	position: absolute;
	background: #fff;
	border: 1px solid blue;
	list-style:none;
	min-width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.custom-select ul li{
	padding: 5px 10px;
}

.custom-select .current-item {
	background: #fff;
	border: 1px solid red;
	padding: 0 20px 0 10px;
	min-width: 100px;
	max-width: 200px;
	position:relative;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.custom-select .current-item a {
	position: absolute;
	right: 5px;
	top: 2px;
}

.custom-select {
	display:inline-block;
	position:relative;	
}

.custom-select ul li.active,
.custom-select ul li:hover {
	background: blue;
	color: #fff;
}
/*
.custom-checkbox-wrap .custom-checkbox {
	width:20px;
	height:20px;
	border: 1px solid red;
	border-radius: 5px;
	display:inline-block;
}

.custom-checkbox-wrap input[type="checkbox"]:checked + .custom-checkbox {
	background:red;
}

.custom-checkbox-wrap input[type="checkbox"] {
	opacity:0;
	position: absolute;
	left: -100500px;
}
*/


.custom-checkbox-wrap {
	position:relative;
	
}
.custom-checkbox-wrap .custom-checkbox:before {
	width:20px;
	height:20px;
	border: 1px solid red;
	border-radius: 5px;
	display:inline-block;
	content:"";
}

.custom-checkbox-wrap input[type="checkbox"]:checked + .custom-checkbox:after {
	width:16px;
	height:16px;
	background: yellow;
	border-radius: 5px;
	display:inline-block;
	content:"";		
	position:absolute;
	top:3px;
	left:3px;
}

.custom-checkbox-wrap input[type="checkbox"] {
	opacity:0;
	position: absolute;
	left: -100500px;
}


