<hr />
<div class="row">
  <div class="col text-center">
    <h2><a href="#/admin/books">Довідник - Книги</a></h2>
  </div>
</div>
<br />
<div class="row">
  <div class="col text-center">
      <h2><a href="#/admin/authors">Довідник - Автори</a></h2>
  </div>
</div>
<br />
<div class="row">
  <div class="col text-center">
      <h2><a href="#/admin/genres">Довідник - Жанри</a></h2>
  </div>
</div>
<br />
<div class="row">
  <div class="col text-center">
      <button class="btn btn-danger" (click)="doLogout()">Вихід</button>
  </div>
</div>
