<div class="row">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Payment</th>
          <th scope="col">Mark</th>
          <th scope="col">Model</th>
          <th scope="col">Color</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.payment}}</td>
          <td>{{item.mark}}</td>
          <td>{{item.model}}</td>
          <td>{{item.color}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>