<div class="row">
  <div class="col">
    <button class="btn  btn-outline-primary"  (click)="isFilter=!isFilter;"><i class="fa fa-filter" aria-hidden="true"></i></button>
  </div>
</div>
<div class="row" *ngIf="isFilter">
  <div class="col">
    <app-car-filter (onFilter)="onFilter($event)"></app-car-filter>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Mark</th>
          <th scope="col">Model</th>
          <th scope="col" *ngIf="isDetail()">Engine</th>
          <th scope="col" *ngIf="isDetail()">Color</th>
          <th scope="col" *ngIf="isDetail()">Max speed</th>
          <th scope="col" *ngIf="isDetail()">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list" (click)="click(item)">
          <td>{{item.id}}</td>
          <td>{{item.mark}}</td>
          <td>{{item.model}}</td>
          <td *ngIf="isDetail()">{{item.engine}}</td>
          <td *ngIf="isDetail()">{{item.color}}</td>
          <td *ngIf="isDetail()">{{item.maxspeed}}</td>
          <td *ngIf="isDetail()">{{item.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>