<div class="row">
  <div class="col-6">
    <label class="align-top">Автор:</label>
    <select size="8" class="form-control" multiple [(ngModel)]="selectedAuthors">
      <option *ngFor="let author of authors" [ngValue]="author.id">
        {{author.naz}}
      </option>
    </select>
  </div>
  <div class="col-6">
    <label class="align-top">Жанр:</label>
    <select size="8" class="form-control" multiple [(ngModel)]="selectedGenres">
      <option *ngFor="let genre of genres" [ngValue]="genre.id">
        {{genre.naz}}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-12 mx-auto">
    <button class="btn btn-primary" (click)="find()">Знайти</button>
    <!-- <button [disabled]="selectedBook.naz.length==0" class="btn btn-success" (click)="save()">Зберегти</button> -->
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-sm table-bordered">
      <thead>
        <tr>
          <th>Назва</th>
          <th>Вартість</th>
          <th>Детальніше</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>
            {{book.naz}}
          </td>
          <td>
            {{book.cost}}
          </td>
          <td>
              <a href="#/book/{{book.id}}">Детальніше</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>