<h3>Order This car:</h3>
<form>
  <div class="form-group">
     <input type="radio" value="credit card" name="payment" [(ngModel)]="order.payment"> Credit card
     <input type="radio" value="cash" name="payment" [(ngModel)]="order.payment"> Cash
  </div>
  <button class="btn btn-primary" (click)="onOrder()"><i class="fa fa-cart-plus" aria-hidden="true"></i> Order</button>
</form>