<form>
  <div class="form-group">
    <label for="login"><i class="fa fa-user" aria-hidden="true"></i> Login:</label>
    <input type="text" class="form-control" required id="login" placeholder="Enter login" [(ngModel)]="info.login"  [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="pass"><i class="fa fa-key" aria-hidden="true"></i> Password:</label>
    <input type="password" class="form-control" required id="pass" placeholder="Enter password" [(ngModel)]="info.password"  [ngModelOptions]="{standalone: true}">
  </div> 
  <button class="btn btn-primary" (click)="submit()"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
</form>