<template>
  <div id="app" class="container">  
  <div class="row">
    <div class="col-6">
      <h2><i class="fas fa-list"></i>Products list:</h2>
      <product-list></product-list>
    </div>    
 
    <div class="col-6">
      <h2><i class="fas fa-shopping-cart"></i>Cart:</h2>
      <card></card>
    </div>
  </div>
  </div>  
</template>

<script>
export default {
  name: "App",
  components: {},
  methods: {}
};
</script>
