<h1>Книги:</h1>
<div class="jumbotron">
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col-3">
          <label for="fio">Назва книги:</label>
        </div>
        <div class="col-9">
          <input id="fio" class="form-control" type="text" [(ngModel)]="selectedBook.naz" />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="cost">Вартість:</label>
        </div>
        <div class="col-9">
          <input id="cost" class="form-control" step="0.01" type="number" [(ngModel)]="selectedBook.cost" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="align-top">Автор:</label>
          <select size="8" class="form-control" multiple [(ngModel)]="selectedBook.authors">
            <option *ngFor="let author of authors" [ngValue]="author" [ngClass]="containsById(selectedBook.authors, author)? 'table-info': ''">
              {{author.naz}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="align-top">Жанр:</label>
          <select size="8" class="form-control" multiple [(ngModel)]="selectedBook.genres">
            <option *ngFor="let genre of genres" [ngValue]="genre" [ngClass]="containsById(selectedBook.genres, genre)? 'table-info': ''">
              {{genre.naz}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-5 mx-auto">
      <label class="align-top">Опис:</label>
      <textarea rows="20" cols="50" [(ngModel)]="selectedBook.description"></textarea>
    </div>

  </div>
  <div class="row">
    <div class="col-12 mx-auto">
      <button class="btn btn-primary" (click)="add()">Створити</button>
      <button [disabled]="selectedBook.naz.length==0" class="btn btn-success" (click)="save()">Зберегти</button>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-sm table-bordered">
      <thead>
        <tr>
          <th>Код</th>
          <th>Назва</th>
          <th>Вартість</th>
          <th>Опис</th>
          <th>Автор</th>
          <th>Жанр</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="select(book)" *ngFor="let book of books" [ngClass]="book===selectedBook ? 'table-info': '' ">
          <td>
            {{book.id}}
          </td>
          <td>
            {{book.naz}}
          </td>
          <td>
            {{book.cost}}
          </td>
          <td>
            {{book.description}}
          </td>
          <td>
            <ul>
              <li *ngFor="let author of book.authors">
                {{author.naz}}
              </li>
            </ul>
          </td>

          <td>
            <ul>
              <li *ngFor="let genre of book.genres">
                {{genre.naz}}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>