<div *ngIf="car.id">
<div class="row">
  <div class="col">
    <h2 class="text-center">
      Car #{{car.id}}
    </h2>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="font-weight-bold">ID:</span> {{car.id}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">mark:</span> {{car.mark}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">model:</span> {{car.model}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">year:</span> {{car.year}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">color:</span> {{car.color}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">engine:</span> {{car.engine}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">maxspeed:</span> {{car.maxspeed}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">price:</span> {{car.price}}
      </li> 
    </ul>
  </div>
  <div  *ngIf="isAuth()" class="col">
    <app-order [carid]="car.id"></app-order>
  </div> 
</div>
<div class="row" *ngIf="!isAuth()">
  <div class="col">
    <div class="alert alert-info">
      <span>You must sign in to order this car</span>
    </div>
 </div>
</div>
</div>
